.add-modal{
    width: 80%;
    height: 650px;
    background-color: whitesmoke;
    .modal-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 50px;
    }
}