#header header {
  background-color: #735D78;
  height: 75px;
  display: flex;
}
#header header .titulo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-left: 12px;
}
#header header .titulo h1 {
  color: white;
}
@media (max-width: 415px) {
  #header header .titulo h1 {
    margin-left: -5px;
    font-size: 18px;
  }
}
#header header .info-perfil {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
#header header .info-perfil img {
  border-radius: 50%;
  width: 115px;
  height: 80px;
}
@media (max-width: 415px) {
  #header header .info-perfil img {
    width: 110px;
    height: 76px;
  }
}
#header header .info-perfil .texto-info {
  color: bisque;
}
#header header .info-perfil .texto-info p {
  font-size: 10px;
}
@media (max-width: 415px) {
  #header header .info-perfil .texto-info p {
    text-align: end;
    margin-top: 16px;
    margin-right: 1px;
    font-size: 9px;
  }
}

#home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/background.jpg");
  background-size: 100% 100%;
  font-family: "Press Start 2P", cursive;
}
#home .container-texto {
  width: 80%;
  line-height: 44px;
  text-align: center;
  margin-top: 15px;
}
#home .container-texto p {
  color: white;
}
#home h1 {
  color: white;
}
#home .pendientes {
  display: flex;
  align-items: center;
  width: 890px;
  height: 100px;
  background-color: white;
}
#home .pendientes p {
  margin-bottom: 0;
  margin-left: 13px;
}
#home .pendientes .imagen-pendiente {
  width: 88px;
}
#home #nivel-container .subir-nivel {
  width: 219px;
  height: 29px;
}
#home #nivel-container .subir-nivel #barrita {
  height: 100%;
  background-color: palevioletred;
}
#home #nivel-container p {
  text-align: center;
  color: violet;
}
#home .botones {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 300px;
  align-items: center;
}
#home .botones #jugar {
  width: 200px;
  box-sizing: content-box;
  height: 52px;
}
#home .botones #competencia {
  width: 200px;
  box-sizing: content-box;
  height: 52px;
}
#home .botones #desafio {
  width: 200px;
  box-sizing: content-box;
  height: 52px;
}
#home .pendiente-container {
  width: 90%;
}
#home .pendiente-container .titulo-container {
  display: flex;
}
#home .pendiente-container .titulo-container h2 {
  color: #ce75d0;
}
#home .pendiente-container #pendiente {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home .pendiente-container #pendiente .pendientes {
  background-color: #168ad8;
  color: white;
}

#crearJuego {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/background.jpg");
  background-size: 100% 100%;
  font-family: "Press Start 2P", cursive;
  background-repeat: no-repeat;
}
#crearJuego .container-texto {
  width: 80%;
  line-height: 44px;
  text-align: center;
  margin-top: 15px;
}
#crearJuego .container-texto p {
  color: white;
}
#crearJuego h1 {
  color: white;
  text-align: initial;
}
#crearJuego .formulario {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#crearJuego .formulario .formulario-container {
  display: flex;
  flex-direction: column;
  height: 1000px;
  justify-content: space-evenly;
}
#crearJuego .formulario .formulario-container #num {
  color: white;
  text-align: end;
  margin-top: -30px;
  padding: 0;
}

#crear-desafio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/background.jpg");
  background-size: 100% 100%;
  font-family: "Press Start 2P", cursive;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
#crear-desafio .container-texto {
  width: 80%;
  line-height: 44px;
  text-align: center;
  margin-top: 15px;
}
#crear-desafio .container-texto p {
  color: white;
}
#crear-desafio h1 {
  color: white;
}
#crear-desafio h2 {
  color: white;
}
#crear-desafio form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 360px;
  justify-content: space-evenly;
}
#crear-desafio form label {
  color: white;
}
#crear-desafio .button-container {
  display: flex;
  justify-content: center;
}
#crear-desafio .button-container button {
  width: 420px;
}
#crear-desafio .crear-pregunta-desafio {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin-top: 20px;
}
#crear-desafio .crear-pregunta-desafio .container-pregunta-desafio {
  width: 100%;
  display: flex;
  height: 83%;
  justify-content: center;
  flex-direction: column;
}
#crear-desafio .crear-pregunta-desafio .container-pregunta-desafio #num {
  color: white;
  text-align: end;
}
#crear-desafio .crear-pregunta-desafio .container-pregunta-desafio .container-select {
  display: flex;
  flex-direction: column;
  height: 89px;
  justify-content: space-around;
  margin-bottom: 20px;
}
#crear-desafio .crear-pregunta-desafio .container-pregunta-desafio .container-select .container-option {
  width: 588px;
}
#crear-desafio .crear-pregunta-desafio .container-pregunta-desafio form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 750px;
  width: 78%;
  font-size: 13px;
}
#crear-desafio .crear-pregunta-desafio .container-pregunta-desafio form input {
  width: 588px;
}
#crear-desafio .crear-botones {
  padding-top: 10px;
  padding-bottom: 21px;
}
#crear-desafio .crear-botones button {
  height: 92px;
  width: 315px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#crear-desafio .img-crear img {
  width: 338px;
  animation: rotate 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#crear-desafio .adjuntar-preguntas {
  width: 80%;
  height: 100%;
  margin-top: 20px;
}
#crear-desafio .ocultar {
  display: none;
}

/*# sourceMappingURL=main.css.map */
