#big-box {
    background-color: blueviolet;
    height: 300px;
    width: 400px;
    display:inline-block;
    vertical-align: top;

}

body {
    margin-top: 0px
}
#box2 {
    background-color: blue;
    height: 100px;
    width: 100px;
}

#box3 {
    background-color: beige;
    height: 100px;
    width: 100px;
}

#box4 {
    background-color: brown;
    height: 100px;
    width: 100px;
}

#box5 {
    background-color:turquoise;
    height: 100px;
    width: 100px;
}


main, aside, .column {
    display:inline-block;
}

aside {
    vertical-align: top;
}

.column {
    margin-left: -4px;
}

main {
    margin-left: -8px;
}