.tag-small{
    color: white;
    // background-color: darkgreen;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50px;
    padding: 2px 15px;
    margin: 2px 3px; 
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-big{
    color: white;
    // background-color: darkgreen;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50px;
    padding: 2px 15px;
    margin: 2px 3px; 
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}