html, body {
    min-height: 100% !important;
    display: flex;
    align-items: stretch;
}


body {
    background-color: #BC3B69;
    width: 100%;
    display: flex;
    align-items: stretch;
    font-family: 'Lobster';
    overflow-x: hidden;
    margin: 0;
    color: white;
}

aside {
    background-color: #AD1457;
    width: 250px;
    height: 120%;
    box-shadow: 10px 0 20px 0px rgba(0,0,0,0.5);
}

ul {
    list-style: none;
    padding: 0;
    margin: 50px auto 0 10px;
    font-family: "Fira Sans Extra Condensed";
    display: flex;
    flex-direction: column
}

li {
    display: flex;
    margin: 10px 0;
    cursor: pointer;
    transition: .4s;
    padding: 0;
}

li:hover {
    padding-left: 15px;
    color: #ffc107;
}

li:hover a {
    color: #ffc107;
}

li span {
    line-height: 26px;    
}

.fas {
    font-size: 26px;
    margin: 0 15px;   
    cursor: pointer; 
    width: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    align-self: center;
}

.container h1 {
    font-family: 'Pacifico';
    font-size: 160px;
    text-shadow: 13px -10px 0px rgb(168, 32, 80);
    margin-bottom: 120px;
    transition: .5s;
    word-break: break-word;
    text-align: center;
    line-height: 170px;
    padding: 0 40px;
}

.container h1:hover {
    text-shadow: 27px -20px 0px rgb(168, 32, 80);
}

.container .back {
    margin-left: 87px;
    margin-bottom: 0px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #9BDEAC 5%, #3dad59 100%);
	background-color:#c123de;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #0b6120;
	display:inline-block;
	cursor:pointer;
	font-size:36px;
	font-weight:bold;
	padding:12px 45px;
	text-decoration:none;
    text-shadow:0px 1px 0px #9b14b3;
    margin: 10px;
    box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.5);
    transition: background .5s, padding .3s;
    font-family: 'Lobster';
    color: white;
}

.button.blue {
    background:linear-gradient(to bottom, hsl(208, 100%, 75%), hsl(208, 79%, 56%) 100%);
	border:1px solid #006fa3;
}

.button.pink {
    background:linear-gradient(to bottom, hsl(340, 100%, 75%), hsl(340, 70%, 50%) 100%);
	border:1px solid hsl(340, 94%, 37%);
}

.button.xl {
    font-size: 56px;
    border-radius:56px;
    padding-right: 120px;
    padding-left: 120px;
    font-family: 'Lobster';
    position: relative;
}

.button:hover {
    padding-right: 50px;
    padding-left: 50px;
}
.button.xl:hover {
    padding-right: 130px;
    padding-left: 130px;
}

.button.blue:hover {
    background:linear-gradient(to bottom, hsl(208, 79%, 56%), hsl(208, 100%, 75%));
}

.button.pink:hover {
    background:linear-gradient(to bottom, hsl(340, 70%, 50%), hsl(340, 100%, 75%));
}

.button:hover {
	background:linear-gradient(to bottom, #3dad59 5%, #9BDEAC 100%);
    background-color:#a20dbd;
    box-shadow: 1px 1px 30px 5px rgba(0,0,0,0.5)
}

.button:active {
	position:relative;
	top:1px;
}

.avatar-container {
    text-align: center;
}

.avatar-container img {
    width: 200px;
    display: block;
    margin: 20px auto;
}

.avatar-container h2 {
    font-size: 54px;
    margin: 0;
    margin-bottom: 15px;
}

.avatar-container p {
    font-size: 32px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}
a:hover {
    color: #ffc107;
}
