#header {
    
    header {
        background-color: #735D78;
        height: 75px;
        display: flex;

        .titulo {   
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            margin-left: 12px;
            
            h1 {
                @media (max-width: 415px) {
                    margin-left: -5px;
                    font-size: 18px;
                }
                color: white;
            }
        }

        .info-perfil {

            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            img {
                border-radius: 50%;
                width: 115px;
                height: 80px;
                @media (max-width: 415px) {
                    width: 110px;
                    height: 76px;
                }
            }

            .texto-info {
                color: bisque;

                p {
                    font-size: 10px;
                    @media (max-width: 415px) {
                        text-align: end;
                        margin-top: 16px;
                        margin-right: 1px;
                        font-size: 9px;

                    }
                }
            }
        }
       
    }

    
}