@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('../fonts/FiraSansExtraCondensed-Regular.ttf');
}

html, body {
    min-height: 100% !important;
    display: flex;
    align-items: stretch;
}

body {
    background: linear-gradient(to left, #da4453, #89216b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    min-height: 100%;
    font-family: 'Source Sans Pro';
    overflow-x: hidden; 
    overflow-y: auto; 
    margin: 0;
    color: white;
}

aside {
    background: linear-gradient(to top, #ad5389, #3c1053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 250px;
    height: 120%;
    box-shadow: 10px 0 20px 0px rgba(0,0,0,0.5);
    flex-shrink: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 50px auto 0 10px;
    font-family: "Fira Sans Extra Condensed";
    display: flex;
    flex-direction: column
    
}

li {
    display: flex;
    margin: 10px 0;
    cursor: pointer;
    transition: .4s;
    padding: 0;
}

li:hover {
    padding-left: 15px;
    color: #ffc107;
}

li span {
    line-height: 26px;    
}

.fas {
    font-size: 26px;
    margin: 0 15px;   
    cursor: pointer; 
    width: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    align-self: center;
    min-height: 589px;
    height: auto;
}

.container h1 {
    font-family: 'Montserrat';
    font-size: 90px;
    text-shadow: 13px -10px 0px rgb(168, 32, 80);
    margin: 0 60px 120px;
    transition: .5s;
    word-break: break-word;
    text-align: center;
    line-height: 110px;
    padding: 60px 90px;
    border: 4px solid white;
    text-transform: uppercase;
    min-width: 771px;
    box-sizing: border-box;
    width: auto;
}

#modern h1 {
    transition: none;
    text-transform: none;
}

.container .back {
    margin-left: 87px;
    margin-bottom: 0px;
}

.button {
	background-color: transparent;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	font-size:24px;
	font-weight:lighter;
	padding:12px 45px;
	text-decoration:none;
    margin: 10px;
    transition: .5s;
    color: white;
    min-width: 180px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 0;
}

.button.xl {
    font-size: 56px;
    border-radius:56px;
    padding-right: 90px;
    padding-left: 90px;
    font-family: 'Lobster';
    position: relative;
}

.button:hover {
    background: white;
    color: #a82050;
    top: -5px;
    box-shadow: 0px 0 50px 5px hsla(0, 0%, 0%, 0.431);
}
.button:active {
	position:relative;
	top:1px;
}

.avatar-container {
    text-align: center;
}

.avatar-container img {
    width: 200px;
    display: block;
    margin: 20px auto;
}

.avatar-container h2 {
    font-size: 54px;
    margin: 0;
    margin-bottom: 15px;
}

.avatar-container p {
    font-size: 32px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}


#notifications-page .container,
#ranking-page .container {
    align-self: flex-start;
    justify-content: center;
}

#ranking-page .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#notifications-page h1 {
    font-size: 64px;
    padding-bottom: 0;
}


#game-page h1,
#notifications-page h1,
#ranking-page h1 {
    border: 0;
    margin: 0;
}

#ranking-page .filter {
    border-radius: 0;
	background-color: transparent;
	border:1px solid white;
	cursor:pointer;
	font-size:24px;
	font-weight:lighter;
	padding:12px 45px;
	text-decoration:none;
    margin: 10px;
    transition: .5s;
    color: white;
    min-width: 180px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 0;
}

#ranking-page .filter:hover {
    background: white;
    color: #a82050;
}

#notifications-page .notifications,
#ranking-page .rankings {
    max-width: 858px;
    width: 100%;
    margin-top: 60px;
}

#notifications-page .notifications {
    max-width: 564px;
}

#ranking-page .ranking {
    font-size: 24px;
    line-height: 30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 15px 25px;
    margin: 15px 0;
    transition: .3s;
    cursor: pointer;
}

#notifications-page .notification {
    background-color: rgba(0,0,0,0.2);
    border-radius: 40px;
    padding: 25px 45px;
    margin: 15px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 22px;
}


.ranking:hover {
    text-shadow: 0px 0px 13px #ffe500;
    box-shadow: inset 0px 0px 18px -5px #FFECB3;
}

#game-page .button.answer {
    width: 500px;
    box-sizing: border-box;
}

a:hover {
    color: #ffc107;
}

#question {
    width: 60%;
    font-size: 60px;
    line-height: 70px 
}

.delay {
    animation-delay: .2s;
} 
.delay-1 {
    animation-delay: .4s;
} 
.delay-2 {
    animation-delay: .6s;
} 
.delay-3 {
    animation-delay: .8s;
} 
.delay-4 {
    animation-delay: 1s;
} 